.wrap {
  display: flex;
  background-color: rgb(194, 203, 203);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 13px -7px darkgray;
}
.phonebook {
  padding: 40px;
}
.title {
  color: rgb(56, 43, 34);
  margin-bottom: 70px;
  text-transform: uppercase;
}
.contacts {
  background-color: rgb(78, 30, 210);
  padding: 40px;
  padding-top: 50px;
  min-width: 320px;
}
.subTitle {
  letter-spacing: 1px;
}